<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete Account</title>
    <link rel="stylesheet" href="client/public/css/style.css">

</head>

<body>
    <section class="container forms">
        <div class="form login-link">
            <div class="form-content">
                <header></header>
                <form id="login-form" method="post" action="/delete_account">
                    <div class="field input-field">
                        <input type="text" name="identifier" id="identifier" placeholder="E-mail or username"
                            class="input">
                        <span id="error-identifier" class="error-message"></span>
                    </div>
                    <div class="field input-field">
                        <input type="password" name="password" id="password" placeholder="Password" class="password">
                        <span id="error-password" class="error-message"></span>
                    </div>
                    <div class="field input-field">
                        <input type="password" id="confirm_password" name="confirm_password"
                            placeholder="Confirm password" class="password">
                        <span id="error-confirm-password" class="error-message"></span>
                    </div>

                    <div class="field button-field">
                        <button type="submit">Delete Account</button>
                    </div>
                </form>
            </div>
    </section>
    <script src="client/js/delete_account.js"></script>
</body>

</html>