<!DOCTYPE html>
<html>

<head>
  <title>Home</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="client/public/css/home.css">

</head>

<body>
  <div class="profile-header-container">
    <div class="home-header">
      <header>
        <div class="header-home-screen">
          <p>Home</p>
        </div>
      </header>
    </div>
  </div>
  <div id="create-post-form-container"></div>
  <form id="post-form">
    <div class="post-form-create">
      <textarea name="content" id="content" placeholder="What's happening?"></textarea>
      <button type="submit">Post</button>
    </div>
  </form>
  <div id="posts-container"></div>
  <div class="bar-btn-container">
    <div class="bar-btn horizontal-bar">
      <button id="home-btn">
        <img src="client/public/images/home-solid.png" alt="" srcset="">
      </button>
      <button id="profile-btn">
        <img src="client/public/images/user-profile-2.png" alt="Profile">
      </button>
      <button id="search-btn">
        <img src="client/public/images/search.png" alt="" srcset="">
      </button>
      <button id="configure-btn">
        <img src="client/public/images/config.png" alt="" srcset="">
      </button>
      <button id="logout-btn">
        <img src="client/public/images/door.png" alt="" srcset="">
      </button>
    </div>
  </div>
  <script src="client/js/home.js"></script>
  <script src="client/js/logout.js"></script>
</body>

</html>