<!DOCTYPE html>
<html>

<head>
  <title>Profile</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" href="client/public/css/profile.css">

</head>

<body>
  <div id="profile-header-container"></div>
  <div id="user-profile-container"></div>
  <div id="posts-container"></div>
  <div class="bar-btn-container">
    <div class="bar-btn horizontal-bar">
      <button id="home-btn">
        <img src="client/public/images/home.png" alt="" srcset="">
      </button>
      <button id="profile-btn">
        <img src="client/public/images/profile-solid.png" alt="Profile">
      </button>
      <button id="search-btn">
        <img src="client/public/images/search.png" alt="" srcset="">
      </button>
      <button id="configure-btn">
        <img src="client/public/images/config.png" alt="" srcset="">
      </button>
      <button id="logout-btn">
        <img src="client/public/images/door.png" alt="" srcset="">
      </button>
    </div>
  </div>
  <script src="client/js/profile.js"></script>
  <script src="client/js/logout.js"></script>
</body>

</html>