body {
  margin: 0;
  overflow: auto;
  image-rendering: optimizeSpeed;
}

.name {
  border: 1px solid #ccc;
  padding: 10px;
  width: 600px;
  height: 33px;
  margin-left: 270px;
  margin-right: auto;
  overflow: hidden;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.918);
  transform: translateX(-0%);
  z-index: 3;
}

.user-name {
  display: flex;
  align-items: center;
  color: #000000;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  margin-top: -25px;
  margin-left: 10px;
}

.posts-count {
  display: flex;
  align-items: center;
  color: #6f6f6f;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  margin-top: -23px;
  margin-left: 10px;
}

.user {
  border: 1px solid #ccc;
  padding: 10px;
  width: 600px;
  height: 432px;
  margin-left: 270px;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  word-wrap: break-word;
  overflow: auto;
}

.user p {
  margin: 0;
}

.user-followby {
  margin-left: 230px;
  margin-top: -90px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-followto {
  margin-left: 360px;
  margin-top: -41.5px;
  font-weight: bold;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#followers-name {
  margin-left: -25px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

#following-name {
  margin-left: -25px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.user-title {
  display: flex;
  /* Usar flexbox para alinhar o ícone e o texto */
  align-items: center;
  /* Centralizar verticalmente */
  margin-left: 10px;
  margin-bottom: 12px;
  color: #6f6f6f;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.user-bio {
  display: flex;
  align-items: center;
  color: #3d3d3d;
  margin-left: 10px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post {
  border: 0.3px solid #ccc;
  padding: 10px;
  width: 600px;
  /* Ajuste a largura desejada */
  margin-left: 270px;
  margin-right: auto;
  bottom: 50px;
  word-wrap: break-word;
  overflow: auto;
  position: relative;
}

.post p {
  margin: 0;
}

.post-title {
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.user-username {
  display: flex;
  align-items: center;
  margin-top: -90px;
  color: #6f6f6f;
  font-weight: normal;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
}

.user-name-post {
  display: flex;
  align-items: center;
  margin-top: -90px;
  margin-right: 4px;
  color: #000000;
  font-weight: bold;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 15px;
  cursor: pointer;
}

.post-content {
  color: #3d3d3d;
  margin-top: -32px;
  margin-left: 60px;
  font-weight: normal;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.post-links {
  margin-left: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-top: 10px;
}

.post-links img {
  margin-right: 80px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.post-form-create {
  padding: 3px;
  height: 115px;
  width: 613.5px;
  margin-left: 270px;
  margin-right: auto;
  word-wrap: break-word;
  overflow: auto;
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  position: relative;
  z-index: 1;
}

.post-form-create textarea {
  flex: 1;
  padding: 8px;
  border: none;
  outline: none;
  resize: none;
  min-height: 70px;
  margin-bottom: -5px;
}

.post-form-create button {
  margin-left: 8px;
  padding: 9px 15px;
  background-color: #77C3EC;
  color: #fff;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.post:last-child {
  margin-bottom: 0;
}

.post+.post-form-create {
  margin-top: -10px;
}

.user-icon {
  margin-top: 100px;
  margin-left: 10px;
  width: 140px;
  height: 140px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-icon {
  margin-top: 1px;
  width: 43px;
  height: 43px;
  border-radius: 50%;
  margin-left: 5px;
}

.bar-btn-container {
  position: fixed;
  bottom: 0px;
  transform: translateX(-0%);
  background-color: #ffffff;
  border: 1px solid #ccc;
  padding: 10px;
  width: 600px;
  height: 30px;
  margin-left: 270px;
  margin-right: auto;
  z-index: 3;
}

.bar-btn {
  display: flex;
  gap: 10px;
}

.vertical-bar {
  display: flex;
  align-items: center;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.bar-btn img {
  width: 29px;
  height: 30px;
  margin-right: 0;
  margin-left: 0;
  vertical-align: bottom;
}

#home-btn {
  background-color: #ffffff;
  position: fixed;
  color: white;
  border: none;
  padding: 7px 7px;
  border-radius: 50%;
  cursor: pointer;
  bottom: 2px;
  left: 15px;
}

#search-btn {
  background-color: #ffffff;
  position: fixed;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px 7px;
  cursor: pointer;
  bottom: 2px;
  left: 191px;
}

#profile-btn {
  background-color: #ffffff;
  position: fixed;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px 7px;
  cursor: pointer;
  bottom: 2px;
  left: 279px;
}

#configure-btn {
  background-color: #ffffff;
  position: fixed;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px 7px;
  cursor: pointer;
  bottom: 2px;
  left: 367px;
}

#logout-btn {
  background-color: #ffffff;
  position: fixed;
  color: white;
  border: none;
  border-radius: 50%;
  padding: 7px 7px;
  cursor: pointer;
  bottom: 2px;
  left: 455px;
}

#home-btn {
  background-color: #ffffff;
  position: fixed;
  color: rgb(0, 0, 0);
  border: none;
  border-radius: 50%;
  padding: 7px 7px;
  cursor: pointer;
  bottom: 2px;
  left: 103px;

}

#profile-btn:hover {
  background-color: #e5e5e5;
  border: #e5e5e5;
}

#home-btn:hover {
  background-color: #e5e5e5;
  border: #e5e5e5;
}

#logout-btn:hover {
  background-color: #e5e5e5;
  border: #e5e5e5;
}

#search-btn:hover {
  background-color: #e5e5e5;
  border: #e5e5e5;
}

#configure-btn:hover {
  background-color: #e5e5e5;
  border: #e5e5e5;
}

#post-btn:hover {
  background-color: #e5e5e5;
  border: #e5e5e5;
}

#edit-profile-btn {
  margin-right: 10px;
  margin-top: 80px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 17px;
  padding: 9px 15px;
  cursor: pointer;

}

#edit-profile-btn:hover {
  background-color: #ccc;
}

#follow-btn {
  margin-right: 10px;
  margin-top: 80px;
  background-color: #000000;
  color: #ffffff;
  font-weight: bold;
  border: 1px solid #000000;
  border-radius: 19px;
  padding: 9px 18px;
  cursor: pointer;

}


#following-btn {
  margin-right: 10px;
  margin-top: 80px;
  background-color: #ffffff;
  color: #000000;
  font-weight: bold;
  border: 1px solid #ccc;
  border-radius: 19px;
  padding: 9px 18px;
  cursor: pointer;

}

#follow-btn:hover {
  background-color: #464646;
  border: 1px #464646;
}

#following-btn:hover {
  background-color: #ccc;
}