.chats-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-left: 190px;
}

.chats {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 0;
    padding: 15px;
    background-color: #f9f9f9;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.chats-item {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 0;
    padding: 15px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    background-color: #f9f9f9;
}

.chats header {
    margin-bottom: 10px;
}

.chats .chats-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.chats .post-info {
    display: flex;
    flex-direction: column;
}

.chats-title {
    margin-left: 60px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20px;
}

.chats .user-details {
    display: flex;
    align-items: center;
    font-size: medium;
}


.chats-title {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 20px;
}

.chats main {
    margin-bottom: 10px;
}

.chats .chats-name {
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin-left: -10px;
    margin-top: -39px;
    color: #000000;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.chats .chats-content {
    display: flex;
    margin-left: 50px;
    margin-top: -40px;

}

.chats .chats-content p {
    color: #3d3d3d;
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}


.chats .post-info {
    display: flex;
    flex-direction: column;
}

.chats .post-info .chats-name,
.chats .post-info .chats-content {
    display: flex;
    align-items: center;
}


@media only screen and (max-width: 600px) {
    .home-container {
        padding: 10px;
    }

    .chats {
        padding: 10px;
    }

    .chats header {
        flex-wrap: wrap;
    }

    .chats .chats-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .chats .post-links img {
        width: 18px;
        height: 18px;
    }

    .chats .user-details {
        flex-wrap: wrap;
    }

    .chats .chats-name,
    .chats .chats-content {
        margin-right: 0;
    }
}