.bar-btn-container {
    position: fixed;
    display: flex;
    align-items: center;
    height: 50vh;
}

.vertical-bar {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    margin: auto;
}

.vertical-bar button {
    border: none;
    background: none;
    margin: 10px 0;
    padding: 10px;
    cursor: pointer;
}

.vertical-bar img {
    width: 24px;
    height: 24px;
}

header {
    display: flex;
  }
  
  .page-header p {
    font-size: medium;
    margin: 0;
    margin-left: 10px;
  }
  

.home-container {
    position: relative;
    max-width: 600px;
    margin: 0 auto;
    margin-left: 190px;
    overflow: hidden;
    
}

.home-page-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid #ccc;
    padding: 10px;
    width: 578.5px;
    height: 33px;
    margin-right: auto;
    margin-bottom: 10px;
    overflow: hidden;
    position: fixed;
    top: 0;
    background-color: rgba(255, 255, 255, 0.918);
    font-size: medium;
    z-index: 3;
  }

.create-post-container {
    margin-top: 55px;
    margin-bottom: 0;
    word-wrap: break-word;
    overflow: auto;
    display: flex;
    align-items: flex-start;
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    position: relative;
    z-index: 1;
}

.create-post-container-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 15px;
    margin-top: 10px;
    cursor: pointer;
}

.create-post-container form {
    display: flex;
    align-items: flex-start;
    width: 100%;
}

.create-post-container textarea {
    flex: 1;
    font-size: 20px;
    font-weight: 500;
    padding: 8px;
    border: none;
    outline: none;
    resize: none;
    min-height: 70px;
    margin-left: 10px;
    margin-top: 10px;
    text-align: left;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-post-container textarea::placeholder {
    font-weight: 500;
    font-size: 17px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.create-post-container button {
    margin: 10px;
    padding: 10px 22px;
    background-color: #000000;
    color: #fff;
    font-weight: bold;
    border: none;
    border-radius: 19px;
    cursor: pointer;
}

.post {
    border-left: 1px solid #ccc;
    border-right: 1px solid #ccc;
    margin-bottom: 0;
    padding: 15px;
    background-color: #f9f9f9;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

.post header {
    margin-bottom: 10px;
}

.post .profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.post .post-info {
    flex-direction: column;
}

.post-title {
    margin-left: 60px;
    margin-top: 10px;
}

.post .user-details {
    display: flex;
    align-items: center;
    font-size: medium;
}

.post .user-name {
    display: flex;
    align-items: center;
    margin-right: 4px;
    margin-left: -60px;
    margin-top: -39px;
    color: #000000;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
    cursor: pointer;
}

.post .user-username {
    display: flex;
    align-items: center;
    color: #6f6f6f;
    font-weight: normal;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 15px;
}

.post main {
    margin-bottom: 10px;
}

.post .post-content {
    display: flex;
}

.post .post-content p {
    color: #3d3d3d;
    margin-top: 10px;
    font-weight: normal;
    font-size: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    max-width: 100%;
    word-break: break-all;
    overflow-wrap: break-word;
    white-space: pre-wrap;
}

.post .post-links {
    display: flex;
    align-items: center;
}

.post .post-links img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
}

.post .like-button {
    cursor: pointer;
}

.post footer {
    font-size: 12px;
    color: #888;
}

/* RESPONSIVIDADE */
@media only screen and (max-width: 900px) {
    .home-container {
        margin-left: 0;
    }

    .bar-btn-container {
        position: relative;
        justify-content: center;
        width: 100%;
    }

    .vertical-bar {
        padding: 20px;
        margin: 0 auto;
        flex-direction: row;
        justify-content: space-around;
    }

    .vertical-bar button {
        padding: 5px;
    }

    .create-post-container {
        margin-top: 30px;
      }
      
}


@media only screen and (max-width: 600px) {
    .home-container {
        padding: 0;
        margin-left: 0;
        margin-top: -95%;
        margin-bottom: 70px;
    }

    .create-post-container {
        margin-top: 30px;
      }
      


    .post header {
        flex-wrap: wrap;
    }

    .post .profile-icon {
        margin-right: 0;
        margin-bottom: 10px;
    }

    .post .post-links img {
        width: 18px;
        height: 18px;
    }

    .post .user-details {
        flex-wrap: wrap;
    }

    .post .user-name,
    .post .user-username {
        margin-right: 0;
    }

    .user-name p {
        font-size: small;
        margin: 0;
        margin-left: 10px;
    }

    .bar-btn-container {
        position: relative;
        width: 100%;
        padding: 0;
    }

    .vertical-bar {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px;
        width: 100%;
        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #fff; 
        box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); 
        z-index: 100; 
      }
      

    .vertical-bar img {
        width: 20px;
        height: 20px;
    }

    .create-post-container textarea {
        font-size: 18px;
    }

    .create-post-container button {
        padding: 8px 18px;
        font-size: 14px;
    }

    .create-post-container {
        margin-top: 30px;
      }
      
}
